@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.login {
    margin-left: 127px;
    width: 55%;
    display: flexbox;
}

.image {
    width: 45%;
    background-image: url(assets/fundo.jpg);
    background-size: cover;
    background-position: center;
    display: inline-block;
}




.forms {
    display: flex;
    flex-direction: column;
}

#password {
    margin-top: 20px;
    margin-bottom: 15px;
}

#email {
    margin-top: 35px;
}

#password,
#email {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-left: 127px; */
}

input {
    height: 45px;
    border: solid 2px;
    border-radius: 6px;
    width: 27.1vw;
    padding: 20px;
    font-weight: bold;
    /* max-width: 385px;
    min-width: 100px; */
}

input::placeholder {
    color: #A6A2A2;
}

input:focus {
    color: #A6A2A2;
    padding: 20px;
}

#esqueciSenha {
    /* display: flex; */
    /* flex-direction: column;
    align-items: center; */
    text-decoration: none;
    /* margin-left: 127px; */
    /* margin-right: 186px; */
    font-size: 15px;
}

#criarConta {
    /* margin-left: 10px; */
    text-decoration: none;
    font-size: 15px;

}

h2 {
    width: 27.1vw;
    margin-top: 10px;
    font-weight: bold;
}

h1 {
    margin-top: 20px;
    font-weight: bold;
}

button {
    /* width: 385px; */
    height: 45px;
    flex-shrink: 0;
    border-radius: 6px;
    background-color: #009C86;
    border: solid 1px #009C86;
    color: #FFF;
    font-weight: bold;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 20px;
    width: 27.1vw;
    margin-top: 20px;
    /* margin-left: 127px; */
    letter-spacing: -0.33px;
    transition: 3s;
}

button:hover {
    background-color: #7FF1E7;
    border: solid 1px #7FF1E7;
    color: #FFF;
}



.logar {
    width: 385px;
    display: flex;
    flex-direction: row;
    width: 27.1vw;
    justify-content: space-between;

}


@media (min-width: 320px),
(max-width: 767px) {

    .container {
        padding: 2%;
        background-color: red;
    }

    .login {
        margin: 0 auto;
    }


}

@media (min-width: 768px),
(max-width: 1365px) {

    .container {
        padding: 0;
        background-color: blue;
        display: flex;
    }

    .login {
        padding: 2%;
        margin-left: 50px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #logo {
        border-radius: 20px;
        width: 40.1vw;
        height:  55.3vh;
        min-height: 185px;
        min-height: 150;
        max-width: 370px;
        max-height: 300px;
    }
}

@media (min-width: 1366px) {

    .container {
        padding: 0 auto;
        background-color: rgba(209, 8, 8, 0.438);
    }

    .login {
        padding: 2%;
        margin-left: 127px;
        width: 55%;
        display: flexbox;
    }

    #logo {
        border-radius: 20px;
        width: 40.1vw;
        height:  55.3vh;
        max-width: 385px;
        max-height: 300px;
    }

}

/* @media screen and (min-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
  
  /* Estilos para telas de largura menor ou igual a 600 pixels */
/* @media screen and (max-width: 600px) {
    body {
      background-color: lightgreen;
    }
  } */