@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.login {
    width: 55%;
    display: flexbox;
}

.image {
    width: 45%;
    background-image: url(assets/fundo.jpg);
    background-size: cover;
    background-position: center;
    display: inline-block;
}

#logo {
    border-radius: 20px;
    margin-left: 127px;
    width: 600px;
    height: 400px;
    max-width: 385px;
    max-height: 300px;

}


.forms {
    display: flex;
    flex-direction: column;
}

#password {
    margin-top: 20px;
    margin-bottom: 15px;
}

#email {
    margin-top: 46px;
}

#password,
#email {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 127px;
    margin-right: 186px;
}

input {
    height: 60px;
    border: solid 2px;
    border-radius: 6px;
    width: 27.1vw;
    /* max-width: 385px;
    min-width: 100px; */
}

input::placeholder {
    color: #A6A2A2;
    padding: 20px;
}

input:focus {
    color: #A6A2A2;
    padding: 20px;
}

#esqueciSenha {
    /* display: flex; */
    /* flex-direction: column;
    align-items: center; */
    text-decoration: none;
    margin-left: 127px;
    margin-right: 186px;

}


h1,
h2 {
    margin-left: 127px;
}

h2 {
    width: 27.1vw;
    margin-top: 30px;
}

h1 {
    margin-top: 35px;
}

button {
    /* width: 385px; */
    height: 64px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #032D23;
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 20px;
    width: 27.1vw;
    margin-left: 127px;
    margin-right: 186px;
    letter-spacing: -0.33px;
}

#criarConta {
    margin-right: 186px;
    margin-left: 120px;
}

/* 
@media (min-width: 320px) {

    .login {
        background-color: red;
    }
}

@media (max-width: 768px) {

    .login {
        background-color: blue;
    }
}

@media (min-width: 1366px) {

    .login {
        background-color: rgba(209, 8, 8, 0.438);
    }
} */

/* @media screen and (min-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
  
  /* Estilos para telas de largura menor ou igual a 600 pixels */
/* @media screen and (max-width: 600px) {
    body {
      background-color: lightgreen;
    }
  } */